<div class="row justify-content-center mt-5">
    <div class="jumbotron w-75">
        <h3 class="text-center">Olá, bem vindo ao teste de desenvolvimento da CONFITEC</h3>
        <hr/>
        <p>Para iniciar o teste, basta clicar no botão "Usuários", localizado na barra de navegação superior.</p>
        <p>O desafio consiste, de modo resumido, em criar um sistema para gerenciamento de usuários, utilizando no Front-End Angular 2+ e no Back-End via WebAPI .dotNet Core. </p>
    </div>    
</div>

